[Unit]
Description=Obsidian Telegram Notify
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/apps/obsidian-tg-notify/current
Environment=APP_CONFIG=%h/apps/obsidian-tg-notify/shared/config.yaml
Environment=APP_ENV_FILE=%h/apps/obsidian-tg-notify/shared/.env
ExecStart=%h/apps/obsidian-tg-notify/current/obsidian-notify
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
