[Unit]
Description=Obsidian Telegram Notify Postgres
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=__APP_HOME__/apps/obsidian-tg-notify
ExecStart=/usr/bin/docker compose -f __APP_HOME__/apps/obsidian-tg-notify/postgres-compose.yaml --env-file __APP_HOME__/apps/obsidian-tg-notify/shared/.env up -d postgres
ExecStop=/usr/bin/docker compose -f __APP_HOME__/apps/obsidian-tg-notify/postgres-compose.yaml --env-file __APP_HOME__/apps/obsidian-tg-notify/shared/.env down

[Install]
WantedBy=multi-user.target
